.trading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    overflow:auto;
    flex-wrap:wrap;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap:wrap;
}

h3 {
    text-align: center;
    margin-top: 38px;
}