@import './../styles/colors.scss';



.basic-pack {
	margin-right: 2rem;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}

}

.pack-of-cards {
	width: 8rem;
	height:10rem;
}


.button {
	text-decoration: none;
}

.popupbtn {
	outline: none;
	border:none;
	background:transparent;
	&:hover {
		cursor:pointer;
	}
}

.popupbtn:focus {
	background:transparent;
	outline:none;
	border:none;
	border-radius:1rem;
	box-shadow: 0 8px 6px -6px #202CE0;
}
