@import './../styles/colors.scss';
@import './../styles/shapes.scss';



.basic-pack {
    background-color: #C4F1FA;
    width: 200px;
    height: 300px;
    border-radius: 12px;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom:100px;
        &:hover {
            transform: scale(1.1);
            cursor: pointer; 

        }
}

.button {
    text-decoration: none;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
		&:target {
			visibility: visible;
			opacity: 1;
		}
}

.popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}

.popup h2 {
	margin-top: 0;
	color: #333;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
		&:hover {
			color: #06D85F;
		}
		
}

.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px) {
	.box{
		width: 70%;
	}
	.popup{
		width: 70%;
	}
}


