
.platinum-pack {
    background-color: #C4F1FA;
    width: 200px;
    height: 300px;
    border-radius: 12px;
    margin-top:100px;
    margin-right: 100px;
    &:hover {
        transform: scale(1.1);
        cursor: pointer; 
    }
}
