.region-labels {
    font-size: 1.6rem;
    background: transparent;
    border: none;
    color: white;
    font-weight: 500;
    margin-right: 2rem;
    &:hover {
        cursor:pointer;
    }

    &:focus {
        outline:none;
        color:darkblue;
    }
}

.region-container {
    display: flex;
    flex-direction: column;
    margin-right:28rem;
    margin-left:auto;
}

.region-buttons-container {
    margin-top:4rem;
    display:flex;
    margin-right:auto;
    margin-left:auto;
}

.regions-go-here {
    margin-right: auto;
    margin-left: auto;
}