.region-labels {
    font-size: 1.6rem;
    background: transparent;
    border: none;
    color: white;
    font-weight: 500;
    margin-right: 2rem;
    &:hover {
        cursor:pointer;
    }

    &:focus {
        outline:none;
        color:darkblue;
    }
}

.region-container {
    position: absolute;
    top: 21rem;
    left: 22rem;
    display: flex;
    flex-direction: column;
    width: 32rem;
    height: 10rem;
    margin-right: auto;
    margin-left: auto;
}

.region-buttons-container {
    margin-top:4rem;
    display:flex;
    margin-right:auto;
    margin-left:auto;
}

.regions-go-here {
    margin-right: auto;
    margin-left: auto;
}