@import './../styles/colors.scss';
@import './../styles/shapes.scss';
@import './../styles/effect.scss';


*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    boz-sizing: inherit;
}

.card {
    width: 150px;
    height: 200px;
    border-radius: 12px;
    // should be dynamic color
    display: flex;
    justify-content: center;
    align-items:center;
}

.circle {
    @include shape-1;
}

.triangle {
    @include shape-2;
}

.star {
    @include shape-3;
}

.blue {
    background-color:$color-1;
}

.light-blue {
  background-color:$color-2;
}

.orange {
    background-color: $color-3;
}

.pink {
    background-color: $color-4;
}

.green {
    background-color: $color-5;
}

.ripple {
    @include effect-1;
}


