@import './../styles/colors.scss';

.close-propose {
    margin-top: -1rem;
    margin-left: 15rem;
}

.show-card {
    display:flex;
    align-items: center;
    justify-content:space-around;
    margin-right: auto;
    margin-left: auto;
}

.button {
    border-radius: 50px;
    text-decoration: none;
    background-color: #202CE0;
    color: white;
    font-size: 1rem;
    height: 3rem;
    width: 12rem;
    margin-top: 16rem;
    margin-left: -4rem;
&:hover {
    background-color: white;
    border: 1px solid $color-1;
    color: $color-1;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

}