@import './../styles/colors.scss';

.close-propose {
    margin-top: -1rem;
    margin-left: 15rem;
}
.show-card {
    display:flex;
    align-items: center;
    justify-content:space-around;
    margin-right: 9rem;
    margin-left: 3rem;
}

.propose-button {
    border-radius: 50px;
    text-decoration: none;
    background-color: #202CE0;
    color: white;
    font-size: 1rem;
    height: 3rem;
    width: 12rem;
    margin-top: 16rem;
    margin-left: -26rem;
&:hover {
    background-color: white;
    border: 1px solid $color-1;
    color: $color-1;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

}

.card-name {
    margin-bottom:.7rem;
    margin-right: .4rem;
    font-size: .5rem;
    color: $color-1;
}


.dashed-card-border {
    border: 1px dashed lightgrey;
    width: 5rem;
    height: 7rem;
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}