.primary-header {
    font-family: 'Lato', sans-serif;
    font-size: 260px;
    color: rgba(255,255,255,.9);
}

.secondary-header {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size:1.2vw;
}