@import url('https://fonts.googleapis.com/css?family=Michroma');

.primary-header {
    font-family: 'Michroma';
    margin-left: 1.5rem;
    margin-top: 4rem;
    font-size: 1.2rem;
    color: rgba(255, 255, 255, 0.5);
}

.secondary-header {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size:1.2vw;
}

.header-text {
    color : #1D3241;
    font-size:1.2rem;
}