.primary-header {
    font-family: 'Lato', sans-serif;
    font-size: 260px;
    color: rgba(255,255,255,.9);
}

.secondary-header {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    font-size:1.2vw;
}

.header-text {
    color : #1D3241;
    font-size:40px;
}

.footer-header {
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 80px;
    margin-right: 120px;
}